CMakeCache.txt
/CMakeFiles/
/selenium/src/CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
Makefile
/.cache/
/Testing/

cookie.file
HomePage.html
selenium/user-extensions.js
selenium/src/initial_setup/ManageLanguages.html
selenium/src/initial_setup/ServerConfiguration.html
selenium/src/initial_setup/SignInAdmin.html
selenium/src/Testing/
[1-9]*.html
SignIn*.html
SignOut.html

/samples/
/results/
/pulled/

*.swp
*.xml
*~
zanata.ini
apikey.*
*.tar
*.gz
