CMakeCache.txt
/CMakeFiles/
/selenium/src/CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
Makefile
/.cache/
/Testing/


HomePage.html
selenium/src/initial_setup/ManageLanguages.html
selenium/src/initial_setup/ServerConfiguration.html
selenium/src/initial_setup/SignInAdmin.html
[1-9]*.html
SignIn*.html
SignOut.html

/samples/
/results/
/pulled/

*.swp
*.xml
!pom.xml
*~
zanata.ini
apikey.*
