CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
Makefile
.cache/
Testing/
doc-prjs/*/*

cookie.file
HomePage.html
selenium/user-extensions.js
selenium/src/initial_setup/ManageLanguages.html
selenium/src/initial_setup/ServerConfiguration.html
selenium/src/initial_setup/SignInAdmin.html
[1-9]*.html
SignIn*.html
SignOut.html

concordion/src/TODO/
concordion/src/html/

samples/
results/
pulled/

*.bak
*.bz2
*.orig
*.old
*.log
*.swp
*.xml
*~
zanata.ini
apikey.*
*.tar
*.gz

